<form class="yzsrd roll-dialog">
 <header class="roll-header taskroll-info">
        <h1>PUSHED ROLL</h1>
</header>
<div class="taskroll-msg">
    <p> 
    <b>Base Dice:</b> {{statResult}}
    </p>
    <p><b>Skill Dice: </b>{{skillResult}}</p>
    <p><b>Gear Dice: </b>{{gearResult}}</p>
    <p><b>Artifact Dice: </b>{{artifactResult}}</p>
    <hr>
    <p>SUCCESSES: {{successes}}</p>
    <p>BANES: {{banes}}</p>

</div>
</form>