<form class="yzsrd roll-dialog">
 <header class="roll-header taskroll-info">
        <h1>Pushed Roll Results</h1>
</header>
<div class="taskroll-msg">
    <p> 
    <b>Base Dice ({{statDie}}):</b> {{statResult}}
    </p>
    <p><b>Skill Dice ({{skillDie}}): </b>{{skillResult}}</p>
    <p><b>Gear Dice ({{gearDie}}): </b>{{gearResult}}</p>
    <p><b>Artifact Dice ({{artifactDie}}): </b>{{artifactResult}}</p>
    <hr>
    <p>SUCCESSES: {{successes}} || BANES: {{banes}}</p>

</div>
</form>