{{log "Roll received by template: " roll}}
<form class="yzsrd roll-dialog">
 <header class="roll-header taskroll-info">
        <h1>Stepdice Roll | <span><a data-roll-id='{{roll}}'
    
        id="pushRoll" title="Push This Roll"><i class="fa-solid fa-circle-right"></i>
    </a></span></h1>
</header>
<div class="taskroll-msg">
    <div class="flexrow">
        <div class="flexcol" style="font-size:1.15em; border-right:4px solid black;">
            <div style="background-color:lightgray; color:black">
                <b>Base ({{statDie}}):</b> {{statResult}}
            </div>
            <div >
                <b>Skill ({{skillDie}}):</b> {{skillResult}}
            </div>
            <div style="background-color:lightgray; color:black">
                <b>Gear ({{gearDie}}):</b> {{gearResult}}
            </div>
            <div >
                <b>Artifact ({{artifactDie}}):</b> {{artifactResult}}
            </div>
        </div>
    
        <div class="flexcol" style="font-size:1.5em;">
            <div style="border:1px solid gray; vertical-align:center; text-align:center; background-color:green; color:white;">
                {{successes}}
            </div>
            <div style="border:1px solid gray; vertical-align:center; text-align:center; background-color:rgb(165, 25, 25); color:white;">
                {{banes}}
            </div>
        </div>
    </div>
    <!--table>
        <tr>
            <td><b>Base ({{statDie}}):</b></td><td>{{statResult}}</td>
        </tr>
        <tr>
            <td><b>Skill ({{skillDie}}):</b></td><td>{{skillResult}}</td>
        </tr>
        <tr>
            <td><b>Gear ({{gearDie}})):</b></td><td>{{gearResult}}</td>
        </tr>
        <tr>
            <td><b>Artifact ({{artifactDie}}):</b></td><td>{{artifactResult}}</td>
        </tr>
        <tr>
            <td colspan="2"><b>SUCCESSES</b>: {{successes}} || <b>BANES</b>: {{banes}}</td>
        </tr>
    </table-->
   
</div>
</form>