{{log "Roll received by template: " roll}}
<form class="yzsrd roll-dialog">
 <header class="roll-header taskroll-info">
        <h1>Roll Results |  <a data-roll-id='{{roll}}' id="pushRoll" title="Push This Roll"><img src = "modules/yzsrd-roller/assets/icons/push.svg" style="margin-top:auto; margin-bottom:auto; border:0" height="36" width="36"/></a></h1>
</header>
<div class="taskroll-msg">
    <div class="flexrow">
        <div class="flexcol" style="font-size:1.15em; flex-grow:2">
            <div style="background-color:lightgray; color:black">
                <b>Base ({{statDie}}):</b> {{statResult}}
            </div>
            <div >
                <b>Skill ({{skillDie}}):</b> {{skillResult}}
            </div>
            <div style="background-color:lightgray; color:black">
                <b>Gear ({{gearDie}}):</b> {{gearResult}}
            </div>
            <div >
                <b>Talent ({{artifactDie}}):</b> {{artifactResult}}
            </div>
        </div>
    </div>
    <div class="flexrow" style="font-size:1.25em; align-items:center">
        <div class="flexcol">
            <div style="vertical-align:center; text-align:center; background-color:green; color:white;">
                Successes: {{successes}}
            </div>
        </div>
        <div class="flexcol">
            <div style="vertical-align:center; text-align:center; background-color:rgb(165, 25, 25); color:white;">
                Banes: {{banes}}
            </div>
        </div>

    </div>
    <!--table>
        <tr>
            <td><b>Base ({{statDie}}):</b></td><td>{{statResult}}</td>
        </tr>
        <tr>
            <td><b>Skill ({{skillDie}}):</b></td><td>{{skillResult}}</td>
        </tr>
        <tr>
            <td><b>Gear ({{gearDie}})):</b></td><td>{{gearResult}}</td>
        </tr>
        <tr>
            <td><b>Artifact ({{artifactDie}}):</b></td><td>{{artifactResult}}</td>
        </tr>
        <tr>
            <td colspan="2"><b>SUCCESSES</b>: {{successes}} || <b>BANES</b>: {{banes}}</td>
        </tr>
    </table-->
   
</div>
</form>