{{log "Roll received by template: " roll}}
<form class="yzsrd roll-dialog">
 <header class="roll-header taskroll-info">
        <h1>Stepdice Roll | <span><a data-roll-id='{{roll}}'
    
        id="pushRoll" title="Push This Roll"><i class="fa-solid fa-circle-right"></i></i>
    </a></span></h1>
</header>
<div class="taskroll-msg">
    <p> 
    <b>Base Dice ({{statDie}}):</b> {{statResult}}
    </p>
    <p><b>Skill Dice ({{skillDie}}): </b>{{skillResult}}</p>
    <p><b>Gear Dice ({{gearDie}}): </b>{{gearResult}}</p>
    <p><b>Artifact Dice ({{artifactDie}}): </b>{{artifactResult}}</p>
    <hr>
    <p>SUCCESSES: {{successes}} || BANES: {{banes}}</p>
    <hr>
   
</div>
</form>